<%- include('layouts/header.ejs') %>
<div class="vh-100 vw-100 d-flex justify-content-center align-items-center">
  <h1 class="text-danger">404 Page not found!</h1>
</div>
<%- include('layouts/footer.ejs') %>
