<%- include('../layouts/header.ejs'); %>
<div class="mt-5 pt-5 container">
  <ol class="list-group list-group-numbered w-50 mx-auto">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Subheading</div>
        Rp 12.000 x 3
      </div>
      <button type="button" class="btn btn-outline-danger"><i class="bi bi-trash3"></i></button>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Subheading</div>
        Content for list item
      </div>
      <button type="button" class="btn btn-outline-danger"><i class="bi bi-trash3"></i></button>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Subheading</div>
        Content for list item
      </div>
      <button type="button" class="btn btn-outline-danger"><i class="bi bi-trash3"></i></button>
    </li>
  </ol>
</div>
<%- include('../layouts/footer.ejs'); %>
