<%- include('../layouts/header.ejs'); %>
<div class="mt-5 pt-5 container mx-auto w-25">
  <form action="/admin/edit-product" method="post">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" name="title" />
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input type="text" class="form-control" id="price" name="price" />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input type="text" class="form-control" id="description" name="description" />
    </div>
    <div class="mb-3">
      <label for="image_url" class="form-label">Image</label>
      <input type="text" class="form-control" id="image_url" name="image_url" />
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
</div>
<%- include('../layouts/footer.ejs'); %>
